<!DOCTYPE html>
<html xmins:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome Thymeleaf</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Welcome</h1>
<h2 th:utext="${message}">..!..</h2>

<a th:href="@{/personList}">Person List</a>
      <!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         -->

</body>
         
</html>